<div class="container">
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons-->
    <button class="btn btn-primary" type="button">Primary</button>
    <!-- Secondary button-->
    <button class="btn btn-secondary" type="button">Secondary</button>
    <!-- Tertiary button-->
    <button class="btn btn-tertiary" type="button">Tertiary</button>
    <!-- Deemphasize a button by making it look like a link while maintaining button behavior-->
    <button class="btn btn-link" type="button">Link</button>
  </div>