<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Google Fonts used in the housestyle -->
  <link
    rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Material+Icons|Open+Sans:400italic,600italic,700italic,400,700,600|Merriweather:400italic,400,700"
  />
  <!-- Latest compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="//stijl.kuleuven.be/releases/latest/css/main.css"
  />

  <title>{{ title }}</title>
</head>
