<div
  class="jumbotron jumbotron-fluid jumbotron-banner"
  style="
    background-image: url('https://stijl.kuleuven.be/releases/latest/img/content/homepage-meisje.jpg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-block card_banner">
          <h2>Lorem ipsum</h2>
          <h1>dolor sit amet</h1>
          <p>
            Wetenschappelijke verwondering ligt aan de basis van onze
            opleidingen. Laat je inspireren door de meest vooraanstaande
            onderzoekers, die hun inzichten met je delen.
          </p>
          <p>Ontdek jezelf. Begin bij de wereld.</p>
          <a class="btn btn-primary" href="#">Kies je opleiding</a
          >&nbsp;&nbsp;<a class="btn btn-ghost-inv" href="#">Choose life</a>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-info">
    <a href="https://www.kuleuven.be/stijlgids">Dolor sit amet</a>
  </div>
</div>
