<nav class="local-header">
  <div class="container container-relative">
    <nav class="nav-header">
      <h2>
        <a href="#">KU Leuven</a>
        <a
          href="#"
          class="btn-toggle hidden-lg-up"
          role="button"
          aria-expanded="false"
          data-toggle="collapse"
          data-target="#local-header"
          aria-controls="local-header"
        >
          <span class="lines"></span>
        </a>
      </h2>
      <ul class="langswitch">
        <li><a href="" class="active">NL</a></li>
        <li><a href="">EN</a></li>
      </ul>
    </nav>

    <nav class="nav-tabs nav-more collapse" id="local-header">
      <ul>
        {%- for post in collections.kuleuven -%}
        <li {% if page.url == post.url %} class="active" {% endif %}>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</nav>
