<footer class="local-footer">
  <div class="footer-navbar">
    <div class="container">
      <div class="reactionfull">
        <p class="lastmodified">Laatste update: 01-01-2021</p>
        <span>Reacties op inhoud:</span>
        <a
          class="reaction"
          href="https://www.kuleuven.be/wieiswie/en/person/ue712790"
          >ICTS - FII</a
        >
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-navbar -->
</footer>
